# 2장

### 1번. 홍길동 씨의 과목별 점수는 각각 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

In [17]:
a = 80
b = 75
c = 55
(a+b+c)/3

70.0

In [23]:
import numpy as np
score={80,75,55}
average = sum(score) / len(score)
print(average)

70.0

### 2번. 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해서 말해 보자.

In [29]:
print(1 % 2)
print(2 % 2)
print(3 % 2)
print(4 % 2)
print(" 짝수의 경우 0이, 홀수의 경우 0이 출력되는 것을 직관적으로 확인할 수 있다. ")
print("i.e. 13의 경우 13 % 2 를 했을 때 ",13 % 2 , "이 출력 되므로, 홀수라고 할 수 있다. ")

1
0
1
0
 짝수의 경우 0이, 홀수의 경우 0이 출력되는 것을 직관적으로 확인할 수 있다.
i.e. 13의 경우 13 % 2 를 했을 때  1 이 출력 되므로, 홀수라고 할 수 있다.

### 3번. 홍길동씨의 주민등록번호는 881120-1068234이다. 홍길동씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

In [30]:
pin = "881120-1068234"
yyyymmdd = pin[:6]
num = pin[7:]
print(yyyymmdd)  # 881120 출력
print(num)       # 1068234 출력

881120
1068234

### 4번. 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

In [31]:
pin = "881120-1068234"
print(pin[7])   # 1이면 남자, 2이면 여자

1

### 5번. 다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

In [32]:
a = "a:b:c:d"
b = a.replace(":", "#")
print(b)

a#b#c#d

### 6번. a = [1, 3, 5, 4, 2] 큰 순서대로 출력하기

In [ ]:
a = [1, 3, 5, 4, 2]
a.sort( )
a.reverse( )
print(a)

In [ ]:
a = [1, 3, 5, 4, 2]
a.sort(reverse=True)
print(a)

### 7번. ['Life', 'is', 'too', 'short'] 라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자.

In [33]:
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

Life is too short

### 8번. (1,2,3)이라는 튜플에 4라는 값을 추가하여 (1,2,3,4)처럼 만들어 출력해 보자.

In [37]:
a = (1, 2, 3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

### 9번. 다음과 같은 딕셔너리 a가 있다. 다음 중 오류가 발생하는 경우는 어떤 경우인가? 그리고 그 이유를 설명해 보자.

In [41]:
a[[1]] = 'python'

TypeError: 'tuple' object does not support item assignment

#### 오류가 발생하는 이유는 딕셔너리의 키로는 변하는(mutable) 값을 사용할 수 없기 때문이다. 
#### 위 예에서 키로 사용된 [1]은 리스트이므로 변하는 값이다. 
#### 다른 예에서 키로 사용된 문자열, 튜플, 숫자는 변하지 않는(immutable) 값이므로 딕셔너리의 키로 사용이 가능하다.

### 10번. 딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.

In [43]:
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)            # {'A':90, 'C':70} 출력
print(result)

{'C': 70, 'A': 90}
80

In [49]:
a = {'A':90, 'B':80, 'C':70}
a.get('B')

80

### 11번. a 리스트에서 중복된 숫자들을 제거해 보자.

In [2]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet =list(set(a))     # a 리스트를 집합자료형으로 변환
    # 집합자료형을 리스트 자료형으로 다시 변환
print(aSet)

[1, 2, 3, 4, 5]

### 12번. 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언 한 후 a의 두 번째 요솟값을 변경하면 b의 값은 어떻게 될까? 그리고 이런 결과가 나오는 이유에 대해서 설명해 보자.

In [3]:
 a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]

#### [1, 4, 3]이 출력된다. a와 b 변수는 모두 동일한 [1, 2, 3]이라는 리스트 객체를 가리키고 있기 때문이다.

# 3장

### 1번. 다음 코드의 결괏값은 무엇일까?

In [4]:
a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

shirt

#### 결괏값으로 shirt 가 출력된다.

#### 첫 번째 조건: "wife"라는 단어는 a 문자열에 없으므로 거짓이다.
#### 두 번째 조건: "python"이라는 단어는 a 문자열에 있지만 "you" 역시 a 문자열에 있으므로 거짓이다.
#### 세 번째 조건: "shirt"라는 단어가 a 문자열에 없으므로 참이다.
#### 네 번째 조건: "need"라는 단어가 a 문자열에 있으므로 참이다.
#### 가장 먼저 참이 되는 것이 세 번째 조건이므로 "shirt"가 출력된다.

### 2번. while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.

In [5]:
result = 0
i = 1
while i <= 1000:
    if i % 3 == 0: # 3으로 나누어 떨어지는 수는 3의 배수
        result += i
    i += 1

print(result)

166833

### 3번. while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.

In [6]:
i = 0
while True:
    i += 1 # while문 수행 시 1씩 증가
    if i > 5: break     # i 값이 5이상이면 while문을 벗어난다.
    print ('*' * i)     # i 값 개수만큼 *를 출력한다.

*
**
***
****
*****

#### while문을 수행할 때마다 i 값을 증가시킨다. 
#### 별 모양을 5번 출력해야 하므로 i 값이 5 이상일 경우 while문을 벗어나도록 한다. 
#### 별 모양을 i 값 만큼 출력하기 위해서 문자열 곱하기 기능을 사용한다.

### 4번. for문을 사용해 1부터 100까지의 숫자를 출력해 보자.

In [7]:
for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

### 5번. for문을 사용하여 A 학급의 평균 점수를 구해 보자.

In [8]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0

for score in A:
    total += score   # A학급의 점수를 모두 더한다.

average = total / len(A) # 평균을 구하기 위해 총 점수를 총 학생수로 나눈다.
print(average) # 평균 79.0이 출력된다.

79.0

### 6번. 리스트 중에서 홀수에만 2를 곱하여 저장하는 다음과 같은 코드가 있다.

In [13]:
numbers = [1, 2, 3, 4, 5]

result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)
print(result)

[2, 6, 10]

#### 위 코드를 리스트 내포(list comprehension)를 사용하여 표현해 보자.

#### 리스트 내포로 표현하면 다음과 같다.

In [14]:
numbers = [1, 2, 3, 4, 5]
result = [n*2 for n in numbers if n%2==1]
print(result)

[2, 6, 10]

# 4장

### 1번. 주어진 자연수가 홀수인지 짝수인지 판별해 주는 함수(is_odd)를 작성해 보자.

In [15]:
def is_odd(number):
    if number % 2 == 1:   # 2로 나누었을 때 나머지가 1이면 홀수이다.
        return True
    else:
        return False

print(is_odd(3))
print(is_odd(4))

True
False

#### 람다와 조건부 표현식을 사용하면 다음과 같이 간단하게도 만들 수 있다.

In [16]:
is_odd = lambda x: True if x % 2 == 1 else False
is_odd(3)

True

### 2번. 입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수를 작성해 보자.

In [17]:
def avg_numbers(*args):   # 입력 개수에 상관없이 사용하기 위해 *args를 사용
    result = 0
    for i in args:
        result += i
        return result / len(args)
print(avg_numbers(1, 2))
print(avg_numbers(1,2,3,4,5))

0.5
0.2

### 3번. 3과 6을 입력했을 때 9가 아닌 36이라는 결괏값을 돌려주었다. 이 프로그램의 오류를 수정해 보자.

In [19]:
input1 = input("첫번째 숫자를 입력하세요:")
input2 = input("두번째 숫자를 입력하세요:")

total = input1 + input2
print("두 수의 합은 %s 입니다" % total)

첫번째 숫자를 입력하세요:3
두번째 숫자를 입력하세요:6
두 수의 합은 36 입니다

In [20]:
#수정
input1 = input("첫 번째 숫자를 입력하세요:")
input2 = input("두 번째 숫자를 입력하세요:")

total = int(input1) + int(input2)      # 입력은 항상 문자열이므로 숫자로 바꾸어 주어야 한다.
print("두수의 합은 %s 입니다" % total)

첫 번째 숫자를 입력하세요:3
두 번째 숫자를 입력하세요:6
두수의 합은 9 입니다

### 4번. 다음 중 출력 결과가 다른 것 한 개를 골라 보자.

In [21]:
print("you" "need" "python")
print("you"+"need"+"python")
print("you", "need", "python")
print("".join(["you", "need", "python"]))

youneedpython
youneedpython
you need python
youneedpython

### 5번. 다음은 "test.txt"라는 파일에 "Life is too short" 문자열을 저장한 후 다시 그 파일을 읽어서 출력하는 프로그램이다.

In [22]:
f1 = open("test.txt", 'w')
f1.write("Life is too short")

f2 = open("test.txt", 'r')
print(f2.read())

#### 이 프로그램은 우리가 예상한 "Life is too short"라는 문장을 출력하지 않는다. 우리가 예상한 값을 출력할 수 있도록 프로그램을 수정해 보자.

In [28]:
f1 = open("test.txt", 'w')
f1.write("Life is too short!")
f1.close() # 열린 파일 객체를 닫는다.

f2 = open("test.txt", 'r')
print(f2.read())
f2.close()

Life is too short!

In [29]:

with open("test.txt", 'w') as f1:
    f1.write("Life is too short! ")
with open("test.txt", 'r') as f2:
    print(f2.read())

Life is too short!

### 6번. 사용자의 입력을 파일(test.txt)에 저장하는 프로그램을 작성해 보자. (단 프로그램을 다시 실행하더라도 기존에 작성한 내용을 유지하고 새로 입력한 내용을 추가해야 한다.)

In [30]:
user_input = input("저장할 내용을 입력하세요:")
f = open('test.txt', 'a')   # 내용을 추가하기 위해서 'a'를 사용
f.write(user_input)
f.write("\n")               # 입력된 내용을 줄 단위로 구분하기 위해 줄 바꿈 문자 삽입
f.close()

저장할 내용을 입력하세요:ㅁ

### 7번. 다음과 같은 내용을 지닌 파일 test.txt가 있다. 이 파일의 내용 중 "java"라는 문자열을 "python"으로 바꾸어서 저장해 보자.

#### Life is too short
#### you need java

In [31]:
f = open('test.txt', 'r')
body = f.read()
f.close()

body = body.replace('java', 'python')

f = open('test.txt', 'w')
f.write(body)
f.close()